In [2]:
import numpy as np
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = "dataframe"

In [4]:
# Loading stock price data for Apple Stocks
data = obb.equity.price.historical(
    "AAPL",
    provider="yfinance"
)

In [6]:
df = data.loc[:, ["close"]]

In [10]:
# Creating new columns with simple returns and compound returns with the closing price
df["simple"] = df["close"].pct_change()
df["compound"] = np.log(
    df["close"] / df["close"].shift()
)

In [12]:
display(df)

                 close    simple  compound
date
2024-03-18  173.720001       NaN       NaN
2024-03-19  176.080002  0.013585  0.013494
2024-03-20  178.669998  0.014709  0.014602
2024-03-21  171.369995 -0.040857 -0.041716
2024-03-22  172.279999  0.005310  0.005296
...                ...       ...       ...
2025-03-10  227.479996 -0.048480 -0.049694
2025-03-11  220.839996 -0.029189 -0.029624
2025-03-12  216.979996 -0.017479 -0.017633
2025-03-13  209.679993 -0.033644 -0.034223
2025-03-14  213.490005  0.018171  0.018007

[249 rows x 3 columns]

In [14]:
df["close"].pct_change(periods=3)

date
2024-03-18         NaN
2024-03-19         NaN
2024-03-20         NaN
2024-03-21   -0.013528
2024-03-22   -0.021581
                ...
2025-03-10   -0.035039
2025-03-11   -0.061573
2025-03-12   -0.092400
2025-03-13   -0.078249
2025-03-14   -0.033282
Name: close, Length: 249, dtype: float64

In [16]:
np.log(df["close"] / df["close"].shift(3))

date
2024-03-18         NaN
2024-03-19         NaN
2024-03-20         NaN
2024-03-21   -0.013620
2024-03-22   -0.021817
                ...
2025-03-10   -0.035667
2025-03-11   -0.063550
2025-03-12   -0.096951
2025-03-13   -0.081480
2025-03-14   -0.033848
Name: close, Length: 249, dtype: float64