In [1]:
import numpy as np
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = "dataframe"

In [31]:
asset = obb.equity.price.historical(
    "AAPL",
    provider="yfinance"
)
display(asset)

,open,high,low,close,volume,dividend
date,,,,,,
2024-03-13,172.770004,173.190002,170.759995,171.130005,52488700,0.0
2024-03-14,172.910004,174.309998,172.050003,173.000000,72913500,0.0
2024-03-15,171.169998,172.619995,170.289993,172.619995,121664700,0.0
2024-03-18,175.570007,177.710007,173.520004,173.720001,75604200,0.0
2024-03-19,174.339996,176.610001,173.029999,176.080002,55215200,0.0
...,...,...,...,...,...,...
2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,0.0
2025-03-07,235.110001,241.369995,234.759995,239.070007,46273600,0.0
2025-03-10,235.539993,236.160004,224.220001,227.479996,72071200,0.0
2025-03-11,223.809998,225.839996,217.449997,220.839996,76137400,0.0
2025-03-12,220.139999,221.750000,214.910004,216.979996,62466400,0.0

In [33]:
benchmark = obb.equity.price.historical("SPY", provider="yfinance")

In [35]:
display(benchmark)

,open,high,low,close,volume,dividend
date,,,,,,
2024-03-13,517.109985,517.289978,514.489990,515.969971,55104100,0.000
2024-03-14,516.969971,517.130005,511.820007,514.950012,110171800,0.000
2024-03-15,510.209991,511.700012,508.119995,509.829987,107585800,1.595
2024-03-18,514.000000,515.479980,512.440002,512.859985,88893300,0.000
2024-03-19,512.150024,516.000000,511.119995,515.710022,60755300,0.000
...,...,...,...,...,...,...
2025-03-06,575.479980,580.169983,570.119995,572.710022,80094900,0.000
2025-03-07,570.900024,577.390015,565.630005,575.919983,81158800,0.000
2025-03-10,567.590027,569.539978,555.590027,560.580017,99326600,0.000
2025-03-11,559.400024,564.020020,552.020020,555.919983,88102100,0.000
2025-03-12,562.169983,563.109985,553.690002,558.869995,69437200,0.000

In [45]:
columns = [
    "open",
    "high",
    "low",
    "close",
    "volume",
    "dividends"
]

In [47]:
asset.columns = columns
benchmark.columns = columns + ["capital_gain"]

ValueError: Length mismatch: Expected axis has 6 elements, new values have 7 elements