In [7]:
from IPython.display import display
from openbb import obb

In [8]:
obb.user.preferences.output_type = "dataframe"

In [9]:
chains = obb.derivatives.options.chains(symbol="SPY")

In [13]:
display(chains.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10446 entries, 0 to 10445
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   underlying_symbol   10446 non-null  object
 1   underlying_price    10446 non-null  float64
 2   contract_symbol     10446 non-null  object
 3   expiration          10446 non-null  object
 4   dte                 10446 non-null  int64
 5   strike              10446 non-null  float64
 6   option_type         10446 non-null  object
 7   open_interest       10446 non-null  int64
 8   volume              10446 non-null  int64
 9   theoretical_price   10446 non-null  float64
 10  last_trade_price    10446 non-null  float64
 11  last_trade_time     9102 non-null   object
 12  tick                10446 non-null  object
 13  bid                 10446 non-null  float64
 14  bid_size            10446 non-null  int64
 15  ask                 10446 non-null  float64
 16  ask_size            10446 non-null  int64
 17  open                10446 non-null  float64
 18  high                10446 non-null  float64
 19  low                 10446 non-null  float64
 20  prev_close          10446 non-null  float64
 21  change              10446 non-null  float64
 22  change_percent      10446 non-null  float64
 23  implied_volatility  10446 non-null  float64
 24  delta               10446 non-null  float64
 25  gamma               10446 non-null  float64
 26  theta               10446 non-null  float64
 27  vega                10446 non-null  float64
 28  rho                 10446 non-null  float64
dtypes: float64(18), int64(5), object(6)
memory usage: 2.3+ MB

None

In [25]:
historic = obb.equity.price.historical(
    symbol="SPY",
    provider="yfinance",
    start_date="2023-01-01",
    end_date="2023-12-31"
)[["close", "volume"]]

In [27]:
display(historic)

                 close     volume
date
2023-01-03  380.820007   74850700
2023-01-04  383.760010   85934100
2023-01-05  379.380005   76970500
2023-01-06  388.079987  104189600
2023-01-09  387.859985   73978100
...                ...        ...
2023-12-22  473.649994   67126600
2023-12-26  475.649994   55387000
2023-12-27  476.510010   68000300
2023-12-28  476.690002   77158100
2023-12-29  475.309998  122234100

[250 rows x 2 columns]