In [1]:
import pandas as pd

In [3]:
idx_1 = pd.Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
print(idx_1)

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [7]:
days = pd.date_range("2016-01-01", periods=6, freq="D")

In [9]:
seconds = pd.date_range("2016-01-01", periods=100, freq="s")

In [11]:
seconds_utc = seconds.tz_localize("UTC")

In [13]:
seconds_utc.tz_convert("US/Eastern")

DatetimeIndex(['2015-12-31 19:00:00-05:00', '2015-12-31 19:00:01-05:00',
               '2015-12-31 19:00:02-05:00', '2015-12-31 19:00:03-05:00',
               '2015-12-31 19:00:04-05:00', '2015-12-31 19:00:05-05:00',
               '2015-12-31 19:00:06-05:00', '2015-12-31 19:00:07-05:00',
               '2015-12-31 19:00:08-05:00', '2015-12-31 19:00:09-05:00',
               '2015-12-31 19:00:10-05:00', '2015-12-31 19:00:11-05:00',
               '2015-12-31 19:00:12-05:00', '2015-12-31 19:00:13-05:00',
               '2015-12-31 19:00:14-05:00', '2015-12-31 19:00:15-05:00',
               '2015-12-31 19:00:16-05:00', '2015-12-31 19:00:17-05:00',
               '2015-12-31 19:00:18-05:00', '2015-12-31 19:00:19-05:00',
               '2015-12-31 19:00:20-05:00', '2015-12-31 19:00:21-05:00',
               '2015-12-31 19:00:22-05:00', '2015-12-31 19:00:23-05:00',
               '2015-12-31 19:00:24-05:00', '2015-12-31 19:00:25-05:00',
               '2015-12-31 19:00:26-05:00', '2015-12-31 19:00:27-05:00',
               '2015-12-31 19:00:28-05:00', '2015-12-31 19:00:29-05:00',
               '2015-12-31 19:00:30-05:00', '2015-12-31 19:00:31-05:00',
               '2015-12-31 19:00:32-05:00', '2015-12-31 19:00:33-05:00',
               '2015-12-31 19:00:34-05:00', '2015-12-31 19:00:35-05:00',
               '2015-12-31 19:00:36-05:00', '2015-12-31 19:00:37-05:00',
               '2015-12-31 19:00:38-05:00', '2015-12-31 19:00:39-05:00',
               '2015-12-31 19:00:40-05:00', '2015-12-31 19:00:41-05:00',
               '2015-12-31 19:00:42-05:00', '2015-12-31 19:00:43-05:00',
               '2015-12-31 19:00:44-05:00', '2015-12-31 19:00:45-05:00',
               '2015-12-31 19:00:46-05:00', '2015-12-31 19:00:47-05:00',
               '2015-12-31 19:00:48-05:00', '2015-12-31 19:00:49-05:00',
               '2015-12-31 19:00:50-05:00', '2015-12-31 19:00:51-05:00',
               '2015-12-31 19:00:52-05:00', '2015-12-31 19:00:53-05:00',
               '2015-12-31 19:00:54-05:00', '2015-12-31 19:00:55-05:00',
               '2015-12-31 19:00:56-05:00', '2015-12-31 19:00:57-05:00',
               '2015-12-31 19:00:58-05:00', '2015-12-31 19:00:59-05:00',
               '2015-12-31 19:01:00-05:00', '2015-12-31 19:01:01-05:00',
               '2015-12-31 19:01:02-05:00', '2015-12-31 19:01:03-05:00',
               '2015-12-31 19:01:04-05:00', '2015-12-31 19:01:05-05:00',
               '2015-12-31 19:01:06-05:00', '2015-12-31 19:01:07-05:00',
               '2015-12-31 19:01:08-05:00', '2015-12-31 19:01:09-05:00',
               '2015-12-31 19:01:10-05:00', '2015-12-31 19:01:11-05:00',
               '2015-12-31 19:01:12-05:00', '2015-12-31 19:01:13-05:00',
               '2015-12-31 19:01:14-05:00', '2015-12-31 19:01:15-05:00',
               '2015-12-31 19:01:16-05:00', '2015-12-31 19:01:17-05:00',
               '2015-12-31 19:01:18-05:00', '2015-12-31 19:01:19-05:00',
               '2015-12-31 19:01:20-05:00', '2015-12-31 19:01:21-05:00',
               '2015-12-31 19:01:22-05:00', '2015-12-31 19:01:23-05:00',
               '2015-12-31 19:01:24-05:00', '2015-12-31 19:01:25-05:00',
               '2015-12-31 19:01:26-05:00', '2015-12-31 19:01:27-05:00',
               '2015-12-31 19:01:28-05:00', '2015-12-31 19:01:29-05:00',
               '2015-12-31 19:01:30-05:00', '2015-12-31 19:01:31-05:00',
               '2015-12-31 19:01:32-05:00', '2015-12-31 19:01:33-05:00',
               '2015-12-31 19:01:34-05:00', '2015-12-31 19:01:35-05:00',
               '2015-12-31 19:01:36-05:00', '2015-12-31 19:01:37-05:00',
               '2015-12-31 19:01:38-05:00', '2015-12-31 19:01:39-05:00'],
              dtype='datetime64[ns, US/Eastern]', freq='s')

In [19]:
prng = pd.period_range("1990Q1", "2000Q1", freq="Q-NOV")

In [21]:
tuples = [
    (pd.Timestamp("2023-07-10"), "WMT"),
    (pd.Timestamp("2023-07-10"), "JPM"),
    (pd.Timestamp("2023-07-10"), "TGT"),
    (pd.Timestamp("2023-07-11"), "WMT"),
    (pd.Timestamp("2023-07-11"), "JPM"),
    (pd.Timestamp("2023-07-11"), "TGT"),
]
midx = pd.MultiIndex.from_tuples(
    tuples,
    names=("date", "symbol")
)

In [23]:
print(midx)

MultiIndex([('2023-07-10', 'WMT'),
            ('2023-07-10', 'JPM'),
            ('2023-07-10', 'TGT'),
            ('2023-07-11', 'WMT'),
            ('2023-07-11', 'JPM'),
            ('2023-07-11', 'TGT')],
           names=['date', 'symbol'])

In [25]:
import numpy as np

In [27]:
def rnd():
    return np.random.randn(100,)

In [29]:
s_1 = pd.Series(rnd(), index=seconds)
s_2 = pd.Series(rnd(), index=seconds)
s_3 = pd.Series(rnd(), index=seconds)

In [31]:
df = pd.DataFrame({"a": s_1, "b":s_2, "c": s_3})

In [33]:
print(df)

                            a         b         c
2016-01-01 00:00:00  0.549057 -2.561934 -0.601116
2016-01-01 00:00:01  0.431421  0.099731  0.524518
2016-01-01 00:00:02 -0.013158 -0.851000 -0.526032
2016-01-01 00:00:03 -1.687758  0.128209 -0.729322
2016-01-01 00:00:04  0.049202 -0.431010 -0.578264
...                       ...       ...       ...
2016-01-01 00:01:35 -0.881329 -0.152120  1.765238
2016-01-01 00:01:36  0.921128  0.646653  0.122768
2016-01-01 00:01:37  0.066176  1.000031  0.662623
2016-01-01 00:01:38  0.650368  1.196766 -0.133857
2016-01-01 00:01:39 -0.542595 -0.712311  0.380407

[100 rows x 3 columns]

In [37]:
df_2 = pd.DataFrame(
    {
        "close":[158.11,144.64,132.55,158.20,146.61,134.86],
        "factor_1": [0.31, 0.24, 0.67, 0.29, 0.23, 0.71],
    },
    index=midx,
)

In [39]:
print(df_2)

                    close  factor_1
date       symbol
2023-07-10 WMT     158.11      0.31
           JPM     144.64      0.24
           TGT     132.55      0.67
2023-07-11 WMT     158.20      0.29
           JPM     146.61      0.23
           TGT     134.86      0.71