In [1]:
import numpy as np
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = "dataframe"

In [2]:
df = obb.equity.price.historical(
    "AAPL",
    interval="1m",
    provider="yfinance"
)

In [5]:
resampled = df.resample(rule="h")["close"]

In [7]:
resampled.first()

date
2025-03-13 09:00:00    215.173203
2025-03-13 10:00:00    215.500000
2025-03-13 11:00:00    214.580002
2025-03-13 12:00:00    211.904999
2025-03-13 13:00:00    211.480392
                          ...
2025-03-19 07:00:00           NaN
2025-03-19 08:00:00           NaN
2025-03-19 09:00:00    214.689896
2025-03-19 10:00:00    217.553497
2025-03-19 11:00:00    215.570007
Freq: h, Name: close, Length: 147, dtype: float64

In [9]:
resampled.last()

date
2025-03-13 09:00:00    215.264999
2025-03-13 10:00:00    214.225006
2025-03-13 11:00:00    212.075699
2025-03-13 12:00:00    211.490005
2025-03-13 13:00:00    211.115005
                          ...
2025-03-19 07:00:00           NaN
2025-03-19 08:00:00           NaN
2025-03-19 09:00:00    217.139999
2025-03-19 10:00:00    215.550003
2025-03-19 11:00:00    216.268997
Freq: h, Name: close, Length: 147, dtype: float64

In [11]:
resampled.mean()

date
2025-03-13 09:00:00    215.509786
2025-03-13 10:00:00    214.668070
2025-03-13 11:00:00    213.666193
2025-03-13 12:00:00    211.984172
2025-03-13 13:00:00    211.022949
                          ...
2025-03-19 07:00:00           NaN
2025-03-19 08:00:00           NaN
2025-03-19 09:00:00    215.732710
2025-03-19 10:00:00    217.075621
2025-03-19 11:00:00    215.847101
Freq: h, Name: close, Length: 147, dtype: float64

In [15]:
resampled.ohlc()

                           open        high         low       close
date
2025-03-13 09:00:00  215.173203  216.419998  214.639999  215.264999
2025-03-13 10:00:00  215.500000  215.869995  213.750000  214.225006
2025-03-13 11:00:00  214.580002  214.669998  212.075699  212.075699
2025-03-13 12:00:00  211.904999  212.820007  211.250000  211.490005
2025-03-13 13:00:00  211.480392  211.480392  210.600906  211.115005
...                         ...         ...         ...         ...
2025-03-19 07:00:00         NaN         NaN         NaN         NaN
2025-03-19 08:00:00         NaN         NaN         NaN         NaN
2025-03-19 09:00:00  214.689896  217.559998  214.600006  217.139999
2025-03-19 10:00:00  217.553497  218.500000  215.550003  215.550003
2025-03-19 11:00:00  215.570007  216.625000  215.039993  216.268997

[147 rows x 4 columns]